%ul
  %li= link_to 'Home', :controller => :home
  %li= link_to 'Blog', :controller => :blog
  %li= link_to 'Gallery', :controller => :gallery
  %li= link_to 'Profile', :controller => :users, :action => :profile